@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 34, 34, 34;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.el {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s, transform 0.6s;
  will-change: opacity, transform;
}

.el.show {
  opacity: 1;
  transform: translateY(0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-slide:not(.swiper-slide-active)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.swiper-a .swiper-slide:not(.swiper-slide-active)::after {
  border-radius: 2.2916666667vw;
}
@media (min-width: 1920px) {
  .swiper-a .swiper-slide:not(.swiper-slide-active)::after {
    border-radius: 44px;
  }
}

.swiper-b {
  overflow: visible;
}

.swiper-b .swiper-slide {
  margin-top: auto;
  margin-bottom: auto;
  transition: transform 0.3s ease-in-out;
}

.swiper-b .swiper-slide-active {
  transform: scale(1.2);
  z-index: 10;
}

.swiper-b .swiper-slide-active img {
  transform: scale(0.98);
  border-radius: 10%;
}
.swiper-b .swiper-slide-active::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("/assets/phone/phone.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

